openapi: 3.0.3
info:
  title: PN BFF BE Microservice
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-pn-bff
  x-summary: 'API di pn-bff esposte al Web'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://webapi.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://webapi.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://webapi.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://webapi.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: StatusTemplate
    description: >-
      Invocazioni per sapere lo stato del microservizio

paths:
  '/bff/status':
    get:
      summary: Get Status of application
      operationId: getStatus
      tags:
        - StatusTemplate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSchema'
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
components:
  schemas:
    StatusSchema:
      title: Stato dell'applicazione
      type: object
      properties:
        status:
          type: string
          description: Stato dell'applicazione.
      required:
        - status
      example:
        status: OK
