openapi: 3.0.3
info:
  title: PN BFF BE Microservice - ApiKeys Persone Giuridiche
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-pn-bff-pg-apikeys
  x-summary: 'API di pn-bff esposte al Web alle persone giuridiche per la creazione/modifica/rimozione delle api key'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://webapi.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://webapi.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://webapi.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://webapi.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: PublicKeys
    description: >-
      Invocazioni utilizzabili dalle PG destinatarie per la gestione delle public keys
  - name: VirtualKeys
    description: >-
      Gestione delle virtual keys per gli utenti e amministratori

paths:
  "/bff/v1/pg/public-keys":
    get:
      summary: Ricerca public keys
      description: >-
        servizio di consultazione della lista delle public keys
      tags:
        - PublicKeys
      operationId: getPublicKeysV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: lastKey
          in: query
          required: false
          schema:
            type: string
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
        - name: showPublicKey
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './publicKeys-schemas/public-keys.yaml#/components/schemas/BffPublicKeysResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
    post:
      summary: Censimento public key
      description: >-
        servizio di censimento di una public key
      tags:
        - PublicKeys
      operationId: newPublicKeyV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      requestBody:
        content:
          application/json:
            schema:
              $ref: './publicKeys-schemas/public-keys.yaml#/components/schemas/BffPublicKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './publicKeys-schemas/public-keys.yaml#/components/schemas/BffPublicKeyResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  "/bff/v1/pg/public-keys/{kid}":
    delete:
      summary: Rimozione public key
      description: >-
        servizio di rimozione della public key identificata tramite kid
      tags:
        - PublicKeys
      operationId: deletePublicKeyV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/pathKid'
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '409':
          description: Wrong state transition (i.e. delete an enabled key)
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  "/bff/v1/pg/public-keys/{kid}/status":
    put:
      summary: Blocco/Riattivazione public key
      description: >-
        servizio di blocco/riattivazione della public key identificata tramite kid
      tags:
        - PublicKeys
      operationId: changeStatusPublicKeyV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/pathKid'
        - $ref: '#/components/parameters/queryStatus'
      responses:
        '200':
          description: No content
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '409':
          description: Wrong state transition (i.e. enable an enabled key)
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  "/bff/v1/pg/public-keys/{kid}/rotate":
    post:
      summary: Rotazione public key
      description: >-
        servizio di rotazione della public key identificata tramite kid
      tags:
        - PublicKeys
      operationId: rotatePublicKeyV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/pathKid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./publicKeys-schemas/public-keys.yaml#/components/schemas/BffPublicKeyRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './publicKeys-schemas/public-keys.yaml#/components/schemas/BffPublicKeyResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '409':
          description: Wrong state transition (i.e. enable an enabled key)
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  "/bff/v1/pg/public-keys/check-issuer":
    get:
      summary: Verifica esistenza issuer e accettazione tos
      description: >-
        Servizio di verifica esistenza issuer e accettazione tos
      tags:
        - PublicKeys
      operationId: checkIssuerPublicKeyV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './publicKeys-schemas/public-keys.yaml#/components/schemas/BffPublicKeysCheckIssuerResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  "/bff/v1/pg/virtual-keys":
    get:
      summary: Visualizzazione virtual keys
      description: >-
        Servizio di consultazione della lista delle virtual keys censite.
      tags:
        - VirtualKeys
      operationId: getVirtualKeysV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: lastKey
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdate
          in: query
          required: false
          schema:
            type: string
        - name: showVirtualKey
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './virtualKeys-schemas/virtual-keys.yaml#/components/schemas/BffVirtualKeysResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
    post:
      summary: Censimento virtual key
      description: >-
        Servizio di creazione di una nuova virtual key.
      tags:
        - VirtualKeys
      operationId: newVirtualKeyV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      requestBody:
        content:
          application/json:
            schema:
              $ref: './virtualKeys-schemas/virtual-keys.yaml#/components/schemas/BffNewVirtualKeyRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: './virtualKeys-schemas/virtual-keys.yaml#/components/schemas/BffNewVirtualKeyResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  "/bff/v1/pg/virtual-keys/{kid}":
    delete:
      summary: Eliminazione virtual key
      description: >-
        Servizio di eliminazione di una virtual key.
      tags:
        - VirtualKeys
      operationId: deleteVirtualKeyV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/pathKid'
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '409':
          description: Wrong state transition
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  "/bff/v1/pg/virtual-keys/{kid}/status":
    put:
      summary: Cambia lo stato della virtualKey
      description: >-
        servizio di cambio stato della virtualKey
      tags:
        - VirtualKeys
      operationId: changeStatusVirtualKeysV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/pathKid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./virtualKeys-schemas/virtual-keys.yaml#/components/schemas/BffVirtualKeyStatusRequest"
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '409':
          description: Wrong state transition (i.e. enable an enabled key)
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

components:
  parameters:
    ### PARAMETRI RICERCA CHIAVE PUBBLICA E VIRTUALE
    pathKid:
      description: >-
        Identificativo univoco della chiave (pubblica o virtuale)
      name: kid
      in: path
      required: true
      schema:
        type: string
    queryStatus:
      description: >-
        Action per il cambio stato di una public key
      name: status
      in: query
      required: true
      schema:
        type: string
        enum:
          - 'BLOCK'
          - 'ENABLE'
