openapi: 3.0.3
info:
  title: PN BFF BE Microservice - Notifiche Destinatari
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-pn-bff-recipient
  x-summary: 'API di pn-bff esposte al Web ai destinatari per la visualizzazione e gestione delle notifiche'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://webapi.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://webapi.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://webapi.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://webapi.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: NotificationReceived
    description: >-
      Invocazioni utilizzate dai destinatari per ottenere informazioni sulle notifiche a loro destinate.

paths:
  '/bff/v1/notifications/received':
    get:
      summary: 'Destinatario: ricerca notifiche ricevute'
      description: |-
        Questa operazione permette di ricercare le notifiche ricevute.
      tags:
        - NotificationReceived
      operationId: searchReceivedNotificationsV1
      security:                                    # ONLY EXTERNAL
       - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchStartDate'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchEndDate'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchMandateId'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchSenderId'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchStatus'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchSubject'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffSearchIun'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchPageSize'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './notification-schemas/notification.yaml#/components/schemas/BffNotificationsResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/notifications/received/delegated':
    get:
      summary: 'Destinatario: ricerca notifiche delegate ricevute'
      description: |-
        Questa operazione permette di ricercare le notifiche delegate ricevute.
      tags:
        - NotificationReceived
      operationId: searchReceivedDelegatedNotificationsV1
      security:                                    # ONLY EXTERNAL
       - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchStartDate'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchEndDate'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchSenderId'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchRecipientId'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchGroup'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchStatus'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffSearchIun'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchPageSize'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './notification-schemas/notification.yaml#/components/schemas/BffNotificationsResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
  
  '/bff/v1/notifications/received/{iun}':
    get:
      summary: Accesso notifiche ricevute
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai dettagli delle 
        notifiche ricevute.
      tags:
        - NotificationReceived
      operationId: getReceivedNotificationV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffPathIun'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffNotificationSearchMandateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './notification-schemas/notification.yaml#/components/schemas/BffFullNotificationV1'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/notifications/received/{iun}/documents':
    get:
      summary: |-
        Questa operazione permette di scaricare qualsiasi documento legato alla notifica.
      tags:
        - NotificationReceived
      operationId: getReceivedNotificationDocumentV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffPathIun'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffQueryMandateId'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffQueryDocumentType'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffQueryDocumentIdx'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffQueryDocumentId'
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffQueryDocumentCategory'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "./notification-schemas/notification-documents.yaml#/components/schemas/BffDocumentDownloadMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/notifications/received/{iun}/payments-info':
    post:
      summary: Retrieve payment information given a list of payments identifiers
      tags:
        - NotificationReceived
      operationId: getPaymentsV1
      security:                                      # ONLY EXTERNAL
        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: './notification-schemas/parameters-notification.yaml#/components/parameters/BffPathIun'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './notification-schemas/notification-payments.yaml#/components/schemas/BffPaymentInfoRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './notification-schemas/notification-payments.yaml#/components/schemas/BffPaymentInfoResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
