openapi: 3.0.3
info:
  title: PN BFF BE Microservice - Addresses
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-pn-bff-digital-addresses
  x-summary: "API di pn-bff esposte al Web per la gestione dei recapiti"
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://webapi.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://webapi.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://webapi.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://webapi.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: TokenExchange
    description: >-
      Invocazioni per la token exchange

paths:
  '/bff/v1/addresses':
    get:
      summary: Recapiti
      description: >-
        Restituisce i recapiti dell'utente
      tags:
        - Addresses
      operationId: getAddressesV1
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters: # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './digital-addresses-schemas/digital-addresses.yaml#/components/schemas/BffUserAddresses'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'