openapi: 3.0.3
info:
  title: PN BFF BE Microservice - TOS e Privacy
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-pn-bff-tos-privacy
  x-summary: 'API di pn-bff esposte al Web per TOS e Privacy'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://webapi.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://webapi.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://webapi.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://webapi.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: UserConsents
    description: >-
      Invocazioni per sapere lo stato di accettazione dei TOS e della Privacy

paths:
  '/bff/v1/tos-privacy':
    parameters:
      - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'               # NO EXTERNAL
      - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'            # NO EXTERNAL
    get:
      summary: Accettazione TOS e Privacy
      description: >-
        Ritorna lo stato di accettazione dei TOS e della Privacy.
      tags:
        - UserConsents
      operationId: getTosPrivacyV1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BffTosPrivacyConsent'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

    put:
      summary: Accettazione TOS e Privacy
      description: >-
        Permette di accettare i TOS e la Privacy.
      tags:
        - UserConsents
      operationId: acceptTosPrivacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BffTosPrivacyBody'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  parameters:
    ### PARAMETRI DI AUTENTICAZIONE
    cxTypeAuthFleet:                                                               # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'            # NO EXTERNAL
    uidAuthFleet:                                                                  # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'               # NO EXTERNAL

  schemas:
    BffConsentAction:
      $ref: './remote-refs.yaml#/components/schemas/ConsentAction'
    BffConsentVersion:
      $ref: './remote-refs.yaml#/components/schemas/ConsentVersion'
    BffConsent:
      $ref: './remote-refs.yaml#/components/schemas/Consent'

    BffTosPrivacyConsent:
      type: object
      required:
        - tos
        - privacy
      properties:
        tos:
          $ref: '#/components/schemas/BffConsent'
        privacy:
          $ref: '#/components/schemas/BffConsent'

    BffTosPrivacyBody:
      type: object
      properties:
        tos:
          $ref: '#/components/schemas/BffTosPrivacyActionBody'
        privacy:
          $ref: '#/components/schemas/BffTosPrivacyActionBody'

    BffTosPrivacyActionBody:
      type: object
      required:
        - action
        - version
      allOf:
       - $ref: '#/components/schemas/BffConsentAction'
      properties:
        version:
          $ref: '#/components/schemas/BffConsentVersion'

    Problem:
      $ref: './remote-refs.yaml#/components/schemas/Problem'