openapi: 3.0.3
info:
  title: PN BFF BE Microservice - Deleghe
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-pn-bff-recipient-mandate
  x-summary: 'API di pn-bff esposte al Web per la gestione delle deleghe'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://webapi.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://webapi.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://webapi.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://webapi.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: Mandate
    description: >-
      Invocazioni utilizzate per la gestione delle deleghe.

paths:
  '/bff/v1/mandate/delegates/count':
    get:
      summary: >-
        Ritorna il numero totale di deleghe in base al filtro stato (se specificato).
        Se non è presente nessun filtro, sono ritornate tutte le deleghe attive e pending
      tags:
        - Mandate
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      operationId: countMandatesByDelegateV1
      parameters:
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
        - $ref: './mandate-schemas/mandate.yaml#/components/parameters/BffQueryStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './mandate-schemas/mandate.yaml#/components/schemas/BffMandatesCount'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/mandate':
    post:
      summary: Create a new mandate, returns the just created mandate if successful
      tags:
        - Mandate
      operationId: createMandateV1
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters: # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
      requestBody:
        content:
          application/json:
            schema:
              $ref: './mandate-schemas/mandate.yaml#/components/schemas/BffNewMandateRequest'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/mandate/{mandateId}/accept':
    patch:
      summary: Accept a mandate
      tags:
        - Mandate
      operationId: acceptMandateV1
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
        - $ref: './mandate-schemas/mandate.yaml#/components/parameters/BffPathMandateId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './mandate-schemas/mandate.yaml#/components/schemas/BffAcceptRequest'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/mandate/{mandateId}/update':
    patch:
      summary: Update a mandate
      tags:
        - Mandate
      operationId: updateMandateV1
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
        - $ref: './mandate-schemas/mandate.yaml#/components/parameters/BffPathMandateId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './mandate-schemas/mandate.yaml#/components/schemas/BffUpdateRequest'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/mandate/{mandateId}/reject':
    patch:
      summary: Reject a mandate
      tags:
        - Mandate
      operationId: rejectMandateV1
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
        - $ref: './mandate-schemas/mandate.yaml#/components/parameters/BffPathMandateId'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/mandate/{mandateId}/revoke':
    patch:
      summary: Revoke a mandate
      tags:
        - Mandate
      operationId: revokeMandateV1
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
        - $ref: './mandate-schemas/mandate.yaml#/components/parameters/BffPathMandateId'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/mandate/delegates':
    get:
      summary: >-
        Ritorna la lista delle deleghe a carico in base al filtro per stato (se specificato).
        Se non è presente nessun filtro, sono ritornate tutte le deleghe attive e pending
      tags:
        - Mandate
      operationId: getMandatesByDelegateV1
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
        - $ref: './mandate-schemas/mandate.yaml#/components/parameters/BffQueryStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './mandate-schemas/mandate.yaml#/components/schemas/BffMandate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'
    post:
      summary: Ritorna la lista delle deleghe a carico in base ai filtri per stato, gruppo/i e delegante (taxId)
      tags:
        - Mandate
      operationId: searchMandatesByDelegateV1
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters:
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
        - $ref: './mandate-schemas/mandate.yaml#/components/parameters/BffQuerySize'
        - $ref: './mandate-schemas/mandate.yaml#/components/parameters/BffQueryNextPageKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './mandate-schemas/mandate.yaml#/components/schemas/BffSearchMandateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './mandate-schemas/mandate.yaml#/components/schemas/BffSearchMandateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'

  '/bff/v1/mandate/delegators':
    get:
      summary: Ritorna tutte le deleghe create
      tags:
        - Mandate
      operationId: getMandatesByDelegatorV1
#      security:                                                                # ONLY EXTERNAL
#        - bearerAuth: [ ]                                                      # ONLY EXTERNAL
      parameters: # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'     # NO EXTERNAL
        - $ref: './common-refs.yaml#/components/parameters/cxRoleAuthFleet'       # NO EXTERNAL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './mandate-schemas/mandate.yaml#/components/schemas/BffMandate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './common-refs.yaml#/components/schemas/Problem'