openapi: 3.0.3
info:
  title: PN BFF BE Microservice - Notifiche Mittenti
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-pn-bff-pa
  x-summary: 'API di pn-bff esposte al Web ai mittenti per la visualizzazione e gestione delle notifiche'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
- url: https://webapi.notifichedigitali.it
  description: Ambiente di produzione
- url: https://webapi.uat.notifichedigitali.it
  description: Ambiente di UAT
- url: https://webapi.test.notifichedigitali.it
  description: Ambiente di test
- url: https://webapi.dev.notifichedigitali.it
  description: Ambiente di sviluppo
tags:
  - name: NotificationSent
    description: >-
      Invocazioni utilizzabili dai mittenti per verificare lo stato delle richieste 
      di notifica inviate e delle notifiche accettate.

paths:

  '/bff/v1/notifications/sent/{iun}':
    get:
      summary: 'Mittente: lettura dettagli notifica versione 1'
      description: |-
        Questa operazione permette di leggere tutti i dettagli di una notifica accettata.
      tags:
      - NotificationSent
      operationId: getSentNotificationV1                                      # NO EXTERNAL
      #      operationId: retrieveSentNotificationV1                                # ONLY EXTERNAL
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
      - $ref: '#/components/parameters/uidAuthFleet'            # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'           # NO EXTERNAL
      - $ref: '#/components/parameters/cxGroupsAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/pathIun'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BffFullNotificationV1'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  
  parameters:
    ### PARAMETRI DI AUTENTICAZIONE
    cxTypeAuthFleet: # NO EXTERNAL
      $ref: './common-refs.yaml#/components/parameters/cxTypeAuthFleet'             # NO EXTERNAL
    cxIdAuthFleet: # NO EXTERNAL
      $ref: './common-refs.yaml#/components/parameters/cxIdAuthFleet'               # NO EXTERNAL
    cxGroupsAuthFleet: # NO EXTERNAL
      $ref: './common-refs.yaml#/components/parameters/cxGroupsAuthFleet'           # NO EXTERNAL
    uidAuthFleet: # NO EXTERNAL
      $ref: './common-refs.yaml#/components/parameters/uidAuthFleet'                # NO EXTERNAL
    
    ### PARAMETRI RECUPERO NOTIFICA
    pathIun:
      $ref: './notification-schemas/parameters-notification-search.yaml#/components/parameters/pathIun'
  
  schemas:

    BffFullNotificationV1:
      $ref: './notification-schemas/notification.yaml#/components/schemas/BffFullNotificationV1'
    
    Problem:
      $ref: './common-refs.yaml#/components/schemas/Problem'